* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header ul li {
    margin-left: 20px;
    list-style: none;
}

.header ul li a {
    text-decoration: none;
    font-size: 0.9rem;
    text-transform: capitalize;
    color: #333;
}

.header-container--item:hover {
    text-decoration: underline;
    color: rgb(107, 107, 107);
}

.header-container--icon i {
    color: rgb(107, 107, 107);
    font-size: 1.25rem;
}

.header-container--icon i:hover {
    color: #333;
}

.header-container--profile {
    background-color: #00909e;
    width: 2rem;
    height: 2rem;
    border-radius: 1em;
    border: none;
    margin-left: 20px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-doodle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 3em;
    margin: 2em auto;
    border-radius: 2em;
    box-shadow: 0px 0px 5px 0px rgba(47, 47, 47, 0.4);
}

.search-box:hover {
    box-shadow: 1px 1px 5px 0px rgba(47, 47, 47, 0.4);
}

.search-box--icon {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box--icon img {
    width: 1.25em;
    height: 1.25em;
}

.search-box input {
    border: none;
    width: 500px;
    margin: 0 1em;
    height: 2.5em;
}

.search-box input:focus {
    outline: none;
}

a.search-end--link {
    color: #1a0dab;
    font-size: 0.75rem;
}

.search-buttons,
.search-end {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-buttons {
    margin-bottom: 1.5em;
}

.search-buttons-btn {
    height: 40px;
    width: 160px;
    background: #f2f2f2;
    border-radius: 3px;
    border: none;
    color: rgb(107, 107, 107);
}

.search-buttons-btn:hover {
    border: 1px solid rgba(107, 107, 107, 0.40);
    box-shadow: 1px 1px 5px 0px rgba(47, 47, 47, 0.4);
    background: #f1f1f1;
    color: #000;
}

.btn {
    margin-right: 20px;
}

.footer {
    background: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-country {
    color: rgb(107, 107, 107);
    text-transform: capitalize;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    justify-content: flex-start;
    border: 0.5px solid rgba(107, 107, 107, 0.40);
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-left: 20px;
}

.footer-nav--our ul,
.footer-nav--legal ul {
    display: flex;
}

.footer-nav ul li {
    list-style: none;
    margin-right: 20px;
}

.footer-nav ul li a {
    color: rgb(107, 107, 107);
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}